* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
:root {
  --primary-color: #bf6f13;
  --secondary-color: #e88e27;
}
body {
  background-color: var(--primary-color);
}
header {
  background-color: var(--secondary-color);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem 0.6rem;
  position: relative;
}
nav ul li a ::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50px;
  height: 3px;
  width: 100%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
}
nav ul li a :hover:before {
  width: 100%;
}
nav ul li a :focus {
  background-color: var(--primary-color);
  opacity: 0.2px;
  border-radius: 20px;
}
nav ul li a :focus::before {
  width: 0%;
}
.search-btn {
  display: flex;
}
.inputText {
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 2rem 0 0 2rem;
}
